*,body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

nav{
    width: 100%;
    z-index: 1000;
    
}
nav ul{
    list-style: none;
    display: flex;
    flex: row wrap;
    padding:10px;

}
nav ul li {
    display: inline-block;
    margin: 10px 22px;
}
nav ul li a{
    text-decoration: none;

}