*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.header{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(rgba(23, 76, 156, 0.7),rgba(17, 75, 141, 0.7)) ,url('./eduford_img/banner.png');
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
}
.nav-img{
    width: 150px;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    padding: 10px ;
    display: inline-block;
}
.nav-links ul li a{
    text-decoration: none;
    color: white;

}