*,body{
    margin: 0;
    padding:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    z-index: 1000;
    margin: 0 auto;
    display: flex;
    flex: row;
    flex-wrap: wrap;
}
nav ul{
    list-style: none;
    display: flex;
    flex: row wrap;
    padding:10px;

}
nav ul li {
    display: inline-block;
    margin: 10px 22px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
li:hover{
    border-bottom: 1.3px solid deepskyblue;
    border-width: 100%;
}
header{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,111,0.7),rgba(111,0,0,0.5));

}
.header_hero{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    flex:row wrap;
    justify-content: end;
    align-items: center;
    position: absolute;
    right: 10%;
    top: 20%;
    transform: translateY(-50%);
}