*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(rgba(23, 76, 156, 0.7),rgba(17, 75, 141, 0.7)) ,url('./eduford_img/banner.png');
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
}
.nav-img{
    width: 150px;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    padding: 0 10px ;
    display: inline-block;
    position: relative;
}
.nav-links ul li  a{
    text-decoration: none;
    color: white;

}
.nav-links ul li::after{
    width: 0;
    height: 2px;
    content: '';
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.4s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    font-size: 13px;
}
.text-box a{
    padding: 12px 34px ;
    color: white;
    text-decoration: none;
    
}
