*,body{
    margin: 0;
    padding:0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    z-index: 1000;
    margin: 0 auto;
    display: flex;
    flex: row;
    flex-wrap: wrap;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    top: 70%;
    position: absolute;
    width: 100%;
    justify-content: center;
}
nav ul{
    list-style: none;
    display: flex;
    flex: row wrap;
    padding:10px;

}
nav ul li {
    display: inline-block;
    margin: 10px 22px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
li:hover{
    border-bottom: 1.3px solid black;
    border-width: 100%;
}
header{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('/PicsArt\ image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.header_hero{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    flex:row wrap;
    justify-content: end;
    align-items: center;
    position: absolute;
    right: 10%;
    top: 20%;
}
header h1{
    top: 35%;
    left: 30%;
    position: absolute;
    display: flex;
    flex: row wrap;
    font-size: 5rem;
    color: rgb(39, 37, 37);
    display: block;
}
header h3{
    top: 50%;
    left: 40%;
    text-align: center;
    position: absolute;
    display: flex;
    flex: row wrap;
}
header .button_contact{

    outline: none;
    border-radius: 6px;
    border:1.4px solid black;
    position: absolute;
    padding: 10px;
    top: 55%;
    left: 45%;
    cursor: pointer;
    background: white;
    margin-top: 20px;
}

.button_contact:hover{
    background: black;
    color: white;
    transition: 0.4s;
}

.image_div{
    background-color: black;
    width: auto;
    border: 3px solid black;
}