*,body{
    margin: 0;
    padding:0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    z-index: 1000;
    margin: 0 auto;
    display: flex;
    flex: row;
    flex-wrap: wrap;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    top: 75%;
    position: absolute;
    width: 100%;
    justify-content: center;
}
nav ul{
    list-style: none;
    display: flex;
    flex: row wrap;
    padding:10px;

}
nav ul li {
    display: inline-block;
    margin: 10px 22px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
li:hover{
    border-bottom: 1.3px solid black;
    border-width: 100%;
}
header{
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(117, 116, 116, 0.6),rgba(129, 125, 125, 0.6));
}
header img{
    background: url('/IMG_20200823_155309_Bokeh.png');
    width: 1000px;
    height: 760px;
    position: absolute;
    right: 0%;
    filter:grayscale();
}
.header_hero{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    flex:row wrap;
    justify-content: end;
    align-items: center;
    position: absolute;
    right: 10%;
    top: 20%;
}
header h1{
    top: 30%;
    left: 20%;
    position: absolute;
    display: flex;
    flex: row wrap;
    font-size: 5rem;
    color: rgb(22, 21, 21);
    display: block;
    z-index: -1;
    font-size: 8em;
}
header h3{
    top: 50%;
    left: 30%;
    text-align: center;
    position: absolute;
    display: flex;
    flex: row wrap;
}


.button_contact:hover{
    background: black;
    color: white;
    transition: 0.4s;
}

.image_div{
    background-color: black;
    width: auto;
    border: 3px solid black;
}

.projects{
    
 background-color: black;
}
.projects h2{
    text-align: center;
    color: white;
    margin: 0px auto;
    padding: 20px 0px;

}
.projects_div{
    display: flex;
    flex: column;
    clear: both;
    content: "";
}
.projects_div iframe{
    display: flex;
    flex: row;
    width: 700px;
    height: 500px;
    padding: 20px;

}
.projects_div h3{
    color:white;
    display:flex;
    flex:row wrap;

}
.projects_div button{
    cursor: pointer;
    color: white;
    background: rgb(82, 77, 77);
    border-radius: 7px;
    outline: none;
    
}