*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.header{
    width: 100%;
    min-height: 100vh;
    background:url('./eduford_img/banner.png'),linear-gradient(rgba(4,30,27,0.7),rgba(4,30,27,0.7)) ;
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
}
nav ul li{
    list-style: none;
    padding: 10px ;
    display: inline-block;
    flex: row;
}