*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.header{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,30,27,0.7),rgba(4,30,27,0.7)) ,url('eduford_img/banner.png');
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}