*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(rgba(23, 76, 156, 0.7),rgba(17, 75, 141, 0.7)) ,url('./eduford_img/banner.png');
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
}
.nav-img{
    width: 150px;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    padding: 0 10px ;
    display: inline-block;
    position: relative;
}
.nav-links ul li  a{
    text-decoration: none;
    color: white;

}
.nav-links ul li::after{
    width: 100%;
    height: 2px;
    content: '';
    background-color: #f44336;

}